@import "../../main/splide";
@import "../../main/main";

header {
    height: calc(100vh - 51px);
    min-height: 540px;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#product-type-container {
    .splide__slide {
        position: relative;
        h4 {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            font-weight: 400;
            font-size: clamp(32px,4vw,34px);
            text-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
        }
    }
}
