@import "../../main/splide";
@import "../../main/main";

.input-item {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    padding-inline: clamp(15px, 2.8vw, 56px);
    p {
        font-size: clamp(14px, 1vw, 16px);
        white-space: nowrap;
        &:last-of-type {
            font-weight: 300;
        }
    }

    input {
        width: 50%;
        max-width: 220px;
        text-align: center;
    }
}

.next-button {
    width: 100%;
    max-width: 300px;
    text-align: center;
    border-radius: 4px;
    padding: 10px 0;
    background: #303030;
    color: #fff;
    transition: 0.25s;
}
.input-item:has(input:where(:invalid)) {
    & ~ .button-wrapper .next-button {
        opacity: 0.3;
        pointer-events: none;
    }
}

.underline {
    width: 100%;
    margin-block: 3.5rem;
    padding-inline: clamp(32px, 3vw, 56px);
    div {
        width: 100%;
        height: 1px;
        background: #f1f1f1;
    }
}

form {
    &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background-color: #f1f1f1;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #777;
    }
}
