@import "../../main/main";

.next-button {
    width: 100%;
    max-width: 300px;
    text-align: center;
    border-radius: 4px;
    padding: 10px 0;
    background: #303030;
    color: #fff;
    transition: 0.25s;
}

.form-container:has(input:where(:invalid)) {
    & + .next-button {
        opacity: 0.5;
        pointer-events: none;
    }
}
